# Python Foundation: Class 5 topics
> <p>
    1. Import the data from files as DataFrame <br/>
    2. Basic data analysis <br/>
    3. Data Manipulation / Data Cleaning <br/>
        - Structural <br/>
        - Content based <br/>
    4. Exploratory Analysis
 </p>

Objective of the analysis

Availabilty of the data
    - CREATE RANDOM DATA
    - DATA IMPORT
    
Structural understanding

Data understanding

Data Prep:
    Structural 
        1. Add new columns
        2. Delete some columns
        3. Rearrange the columns
        4. Subsetting (Extracting some columns)
        5. Rename the columns
        6. Change the datatypes
        
    Content based
        1. Filters
        2. Sort
        3. Removal of duplicates
        4. Data imputation
            1. Missing value treatment
            2. Outlier treatment
        5. Binning or Grouping of the data
        6. Encoding
        7. Grouping of the data/ Summaries
        8. Joins/Merge
        9. Appending
        
Exploratory analysis

In [29]:
import pandas as pd

In [44]:
a = pd.read_excel('D:/SampleData/AutoInsurance.xlsx', sheet_name='AutoBi')

In [45]:
type(a)

pandas.core.frame.DataFrame

In [94]:
# import the data
stores = pd.read_csv('D:/SampleData/stores.csv', sep = ',')

In [47]:
type(stores)

pandas.core.frame.DataFrame

In [49]:
stores.ndim

2

In [50]:
stores.shape

(32, 15)

In [51]:
stores.size

480

In [54]:
stores.dtypes

pandas.core.series.Series

In [53]:
stores.memory_usage()

Index               80
StoreCode          256
StoreName          256
StoreType          256
Location           256
OperatingCost      256
Staff_Cnt          256
TotalSales         256
Total_Customers    256
AcqCostPercust     256
BasketSize         256
ProfitPercust      256
OwnStore           256
OnlinePresence     256
Tenure             256
StoreSegment       256
dtype: int64

In [55]:
stores.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32 entries, 0 to 31
Data columns (total 15 columns):
StoreCode          32 non-null object
StoreName          32 non-null object
StoreType          32 non-null object
Location           32 non-null object
OperatingCost      32 non-null float64
Staff_Cnt          32 non-null int64
TotalSales         32 non-null float64
Total_Customers    32 non-null int64
AcqCostPercust     29 non-null float64
BasketSize         32 non-null float64
ProfitPercust      32 non-null float64
OwnStore           32 non-null int64
OnlinePresence     32 non-null int64
Tenure             32 non-null int64
StoreSegment       32 non-null int64
dtypes: float64(5), int64(6), object(4)
memory usage: 3.8+ KB

In [58]:
stores.tail(2)

,StoreCode,StoreName,StoreType,Location,OperatingCost,Staff_Cnt,TotalSales,Total_Customers,AcqCostPercust,BasketSize,ProfitPercust,OwnStore,OnlinePresence,Tenure,StoreSegment
30,STR131,Fashion Bazar,Apparel,Kolkata,15.0,80,301.0,335,3.54,3.57,14.6,0,1,5,4
31,STR132,Digital Bazar,Electronincs,Kolkata,21.4,40,121.0,109,4.11,2.78,18.6,1,1,4,2

In [59]:
stores.describe()

,OperatingCost,Staff_Cnt,TotalSales,Total_Customers,AcqCostPercust,BasketSize,ProfitPercust,OwnStore,OnlinePresence,Tenure,StoreSegment
count,32.000000,32.000000,32.000000,32.000000,29.000000,32.000000,32.000000,32.000000,32.000000,32.000000,32.000000
mean,20.090625,61.875000,230.721875,146.687500,3.651034,3.217250,17.848750,0.437500,0.406250,3.687500,2.625000
std,6.026948,17.859216,123.938694,68.562868,0.532664,0.978457,1.786943,0.504016,0.498991,0.737804,1.211504
min,10.400000,40.000000,71.100000,52.000000,2.760000,1.513000,14.500000,0.000000,0.000000,3.000000,1.000000
25%,15.425000,40.000000,120.825000,96.500000,3.150000,2.581250,16.892500,0.000000,0.000000,3.000000,2.000000
50%,19.200000,60.000000,196.300000,123.000000,3.730000,3.325000,17.710000,0.000000,0.000000,4.000000,2.000000
75%,22.800000,80.000000,326.000000,180.000000,3.920000,3.610000,18.900000,1.000000,1.000000,4.000000,4.000000
max,33.900000,80.000000,472.000000,335.000000,4.930000,5.424000,22.900000,1.000000,1.000000,5.000000,4.000000

## Subsetting

In [ ]:
[]
loc and iloc
df.columnname

In [65]:
stores['StoreCode'].head()

0    STR101
1    STR102
2    STR103
3    STR104
4    STR105
Name: StoreCode, dtype: object

In [66]:
stores[['StoreCode', 'StoreName']].head()

  StoreCode         StoreName
0    STR101  Electronics Zone
1    STR102      Apparel Zone
2    STR103       Super Bazar
3    STR104      Super Market
4    STR105     Central Store

In [72]:
stores.iloc[:,0:4].head(4)

  StoreCode         StoreName     StoreType Location
0    STR101  Electronics Zone  Electronincs    Delhi
1    STR102      Apparel Zone       Apparel    Delhi
2    STR103       Super Bazar  Super Market    Delhi
3    STR104      Super Market  Super Market    Delhi

In [74]:
stores.loc[:, ['StoreCode', 'StoreName']].head(4)

  StoreCode         StoreName
0    STR101  Electronics Zone
1    STR102      Apparel Zone
2    STR103       Super Bazar
3    STR104      Super Market

In [75]:
stores.StoreCode

0     STR101
1     STR102
2     STR103
3     STR104
4     STR105
5     STR106
6     STR107
7     STR108
8     STR109
9     STR110
10    STR111
11    STR112
12    STR113
13    STR114
14    STR115
15    STR116
16    STR117
17    STR118
18    STR119
19    STR120
20    STR121
21    STR122
22    STR123
23    STR124
24    STR125
25    STR126
26    STR127
27    STR128
28    STR129
29    STR130
30    STR131
31    STR132
Name: StoreCode, dtype: object

In [76]:
stores.head(2)

,StoreCode,StoreName,StoreType,Location,OperatingCost,Staff_Cnt,TotalSales,Total_Customers,AcqCostPercust,BasketSize,ProfitPercust,OwnStore,OnlinePresence,Tenure,StoreSegment
0,STR101,Electronics Zone,Electronincs,Delhi,21.0,60,160.0,110,3.9,2.620,16.46,0,1,4,4
1,STR102,Apparel Zone,Apparel,Delhi,21.0,60,160.0,110,3.9,2.875,17.02,0,1,4,4

## Reorder the columns

In [79]:
stores[['StoreType', 'StoreName', 'Location']].head(2)

      StoreType         StoreName Location
0  Electronincs  Electronics Zone    Delhi
1       Apparel      Apparel Zone    Delhi

In [81]:
stores.iloc[:,[3, 6, 2, 1]].head(2)

  Location  TotalSales     StoreType         StoreName
0    Delhi       160.0  Electronincs  Electronics Zone
1    Delhi       160.0       Apparel      Apparel Zone

## Adding new conditional columns

In [84]:
stores.OperatingCost.head()

0    21.0
1    21.0
2    22.8
3    21.4
4    18.7
Name: OperatingCost, dtype: float64

In [85]:
stores.TotalSales.head()

0    160.0
1    160.0
2    108.0
3    258.0
4    360.0
Name: TotalSales, dtype: float64

In [87]:
(stores.TotalSales - stores.OperatingCost).head()

0    139.0
1    139.0
2     85.2
3    236.6
4    341.3
dtype: float64

In [88]:
stores.shape

(32, 15)

In [89]:
stores['NetProfit'] = stores.TotalSales - stores.OperatingCost # correct

In [92]:
stores = stores.TotalSales - stores.OperatingCost # incorrect, never recomended

In [99]:
stores.NetProfit1 = stores.TotalSales - stores.OperatingCost # incorrect, syntax error

C:\Users\admin\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: UserWarning: Pandas doesn't allow columns to be created via a new attribute name - see https://pandas.pydata.org/pandas-docs/stable/indexing.html#attribute-access
  """Entry point for launching an IPython kernel.

In [97]:
stores.head()

,StoreCode,StoreName,StoreType,Location,OperatingCost,Staff_Cnt,TotalSales,Total_Customers,AcqCostPercust,BasketSize,ProfitPercust,OwnStore,OnlinePresence,Tenure,StoreSegment
0,STR101,Electronics Zone,Electronincs,Delhi,21.0,60,160.0,110,3.90,2.620,16.46,0,1,4,4
1,STR102,Apparel Zone,Apparel,Delhi,21.0,60,160.0,110,3.90,2.875,17.02,0,1,4,4
2,STR103,Super Bazar,Super Market,Delhi,22.8,40,108.0,93,3.85,2.320,18.61,1,1,4,1
3,STR104,Super Market,Super Market,Delhi,21.4,60,258.0,110,3.08,3.215,19.44,1,0,3,1
4,STR105,Central Store,Super Market,Delhi,18.7,80,360.0,175,3.15,3.440,17.02,0,0,3,2

In [107]:
stores = stores.assign(NetProfit1 = stores.TotalSales - stores.OperatingCost, NetProfit2 = stores.TotalSales - (stores.OperatingCost + stores.AcqCostPercust))

In [105]:
stores = stores.assign(np1 = stores.TotalSales - stores.OperatingCost, np2 = stores.TotalSales - stores.OperatingCost)

In [111]:
stores.head(2)

,StoreCode,StoreName,StoreType,Location,OperatingCost,Staff_Cnt,TotalSales,Total_Customers,AcqCostPercust,BasketSize,ProfitPercust,OwnStore,OnlinePresence,Tenure,StoreSegment,np1,np2,NetProfit1,NetProfit2
0,STR101,Electronics Zone,Electronincs,Delhi,21.0,60,160.0,110,3.9,2.620,16.46,0,1,4,4,139.0,139.0,139.0,135.1
1,STR102,Apparel Zone,Apparel,Delhi,21.0,60,160.0,110,3.9,2.875,17.02,0,1,4,4,139.0,139.0,139.0,135.1

In [ ]:
['NewColumn']
.assign(kwarg1 = value1, ........)

## Delete the columns

In [103]:
stores.drop?

In [113]:
stores.drop(columns = 'np1', axis = 'columns').head(4)

,StoreCode,StoreName,StoreType,Location,OperatingCost,Staff_Cnt,TotalSales,Total_Customers,AcqCostPercust,BasketSize,ProfitPercust,OwnStore,OnlinePresence,Tenure,StoreSegment,np2,NetProfit1,NetProfit2
0,STR101,Electronics Zone,Electronincs,Delhi,21.0,60,160.0,110,3.90,2.620,16.46,0,1,4,4,139.0,139.0,135.10
1,STR102,Apparel Zone,Apparel,Delhi,21.0,60,160.0,110,3.90,2.875,17.02,0,1,4,4,139.0,139.0,135.10
2,STR103,Super Bazar,Super Market,Delhi,22.8,40,108.0,93,3.85,2.320,18.61,1,1,4,1,85.2,85.2,81.35
3,STR104,Super Market,Super Market,Delhi,21.4,60,258.0,110,3.08,3.215,19.44,1,0,3,1,236.6,236.6,233.52

## rename the columns

In [117]:
stores.rename(columns = {'TotalSales': 'NetTotalSales', 'OperatingCost': 'NetOperatingCost'}).head(4)

,StoreCode,StoreName,StoreType,Location,NetOperatingCost,Staff_Cnt,NetTotalSales,Total_Customers,AcqCostPercust,BasketSize,ProfitPercust,OwnStore,OnlinePresence,Tenure,StoreSegment,np1,np2,NetProfit1,NetProfit2
0,STR101,Electronics Zone,Electronincs,Delhi,21.0,60,160.0,110,3.90,2.620,16.46,0,1,4,4,139.0,139.0,139.0,135.10
1,STR102,Apparel Zone,Apparel,Delhi,21.0,60,160.0,110,3.90,2.875,17.02,0,1,4,4,139.0,139.0,139.0,135.10
2,STR103,Super Bazar,Super Market,Delhi,22.8,40,108.0,93,3.85,2.320,18.61,1,1,4,1,85.2,85.2,85.2,81.35
3,STR104,Super Market,Super Market,Delhi,21.4,60,258.0,110,3.08,3.215,19.44,1,0,3,1,236.6,236.6,236.6,233.52

## Data Import

In [2]:
# import the pandas package
import pandas as pd

In [20]:
# Import the data from files as DataFrame
stores = pd.read_csv('D:/SampleData/Stores.csv')

In [28]:
score = pd.read_csv('D:/SampleData/score.csv')

## Basic data analysis
> 1. Check type of data structure
> 2. No of dimensions
> 3. Size of the data
> 4. Shape of the data
> 5. Columns
> 6. Count of columns
> 7. Data types of each column
> 8. No of non missing values/records in each column
> 9. Freq table of data types
> 10. Memory used
> 11. See sample records
> 12. Complete structural summary
> 13. Data descriptives

## Data Manipulation / Data Cleaning - Structural
> 1. Subsetting (Extracting Column/s)
> 2. Rearrange/Reorder the column/s
> 3. Adding new column/s in dataframe
> 4. Delete column/s from dataframe
> 5. Rename the column/s

## Data Manipulation / Data Cleaning - Content based
> 1. Filters
> 2. Sorting
> 3. Removal of duplicates
> 4. Data imputaion
> 5. Encoding
> 6. Binning/creating new grouped variables
> 7. Grouping/Aggregations
> 8. Joins/Merge
> 9. Data append
> 10. Summaries

## Filters

In [120]:
stores

,StoreCode,StoreName,StoreType,Location,OperatingCost,Staff_Cnt,TotalSales,Total_Customers,AcqCostPercust,BasketSize,ProfitPercust,OwnStore,OnlinePresence,Tenure,StoreSegment,np1,np2,NetProfit1,NetProfit2
0,STR101,Electronics Zone,Electronincs,Delhi,21.0,60,160.0,110,3.90,2.620,16.46,0,1,4,4,139.0,139.0,139.0,135.10
1,STR102,Apparel Zone,Apparel,Delhi,21.0,60,160.0,110,3.90,2.875,17.02,0,1,4,4,139.0,139.0,139.0,135.10
2,STR103,Super Bazar,Super Market,Delhi,22.8,40,108.0,93,3.85,2.320,18.61,1,1,4,1,85.2,85.2,85.2,81.35
3,STR104,Super Market,Super Market,Delhi,21.4,60,258.0,110,3.08,3.215,19.44,1,0,3,1,236.6,236.6,236.6,233.52
4,STR105,Central Store,Super Market,Delhi,18.7,80,360.0,175,3.15,3.440,17.02,0,0,3,2,341.3,341.3,341.3,338.15
5,STR106,Apparel Zone,Apparel,Delhi,18.1,60,225.0,105,2.76,3.460,20.22,1,0,3,1,206.9,206.9,206.9,204.14
6,STR107,Fashion Bazar,Apparel,Delhi,14.3,80,360.0,245,3.21,3.570,15.84,0,0,3,4,345.7,345.7,345.7,342.49
7,STR108,Digital Bazar,Electronincs,Delhi,24.4,40,146.7,62,3.69,3.190,20.00,1,0,4,2,122.3,122.3,122.3,118.61
8,STR109,Electronics Zone,Electronincs,Chennai,22.8,40,140.8,95,3.92,3.150,22.90,1,0,4,2,118.0,118.0,118.0,114.08
9,STR110,Apparel Zone,Apparel,Chennai,19.2,60,167.6,123,3.92,3.440,18.30,1,0,4,4,148.4,148.4,148.4,144.48
10,STR111,Super Bazar,Super Market,Chennai,17.8,60,167.6,123,3.92,3.440,18.90,1,0,4,4,149.8,149.8,149.8,145.88
11,STR112,Super Market,Super Market,Chennai,16.4,80,275.8,180,NaN,4.070,17.40,0,0,3,3,259.4,259.4,259.4,NaN
12,STR113,Central Store,Super Market,Chennai,17.3,80,275.8,180,NaN,3.730,17.60,0,0,3,3,258.5,258.5,258.5,NaN
13,STR114,Apparel Zone,Apparel,Chennai,15.2,80,275.8,180,NaN,3.780,18.00,0,0,3,3,260.6,260.6,260.6,NaN
14,STR115,Fashion Bazar,Apparel,Chennai,10.4,80,472.0,205,2.93,5.250,17.98,0,0,3,4,461.6,461.6,461.6,458.67
15,STR116,Digital Bazar,Electronincs,Chennai,10.4,80,460.0,215,3.00,5.424,17.82,0,0,3,4,449.6,449.6,449.6,446.60
16,STR117,Electronics Zone,Electronincs,Mumbai,14.7,80,440.0,230,3.23,5.345,17.42,0,0,3,4,425.3,425.3,425.3,422.07
17,STR118,Apparel Zone,Apparel,Mumbai,32.4,40,78.7,66,4.08,2.200,19.47,1,1,4,1,46.3,46.3,46.3,42.22
18,STR119,Super Bazar,Super Market,Mumbai,30.4,40,75.7,52,4.93,1.615,18.52,1,1,4,2,45.3,45.3,45.3,40.37
19,STR120,Super Market,Super Market,Mumbai,33.9,40,71.1,65,4.22,1.835,19.90,1,1,4,1,37.2,37.2,37.2,32.98
20,STR121,Central Store,Super Market,Mumbai,21.5,40,120.1,97,3.70,2.465,20.01,1,0,3,1,98.6,98.6,98.6,94.90
21,STR122,Apparel Zone,Apparel,Mumbai,15.5,80,318.0,150,2.76,3.520,16.87,0,0,3,2,302.5,302.5,302.5,299.74
22,STR123,Fashion Bazar,Apparel,Mumbai,15.2,80,304.0,150,3.15,3.435,17.30,0,0,3,2,288.8,288.8,288.8,285.65
23,STR124,Digital Bazar,Electronincs,Mumbai,13.3,80,350.0,245,3.73,3.840,15.41,0,0,3,4,336.7,336.7,336.7,332.97
24,STR125,Electronics Zone,Electronincs,Kolkata,19.2,80,400.0,175,3.08,3.845,17.05,0,0,3,2,380.8,380.8,380.8,377.72
25,STR126,Apparel Zone,Apparel,Kolkata,27.3,40,79.0,66,4.08,1.935,18.90,1,1,4,1,51.7,51.7,51.7,47.62
26,STR127,Super Bazar,Super Market,Kolkata,26.0,40,120.3,91,4.43,2.140,16.70,0,1,5,2,94.3,94.3,94.3,89.87
27,STR128,Super Market,Super Market,Kolkata,30.4,40,95.1,113,3.77,1.513,16.90,1,1,5,2,64.7,64.7,64.7,60.93
28,STR129,Central Store,Super Market,Kolkata,15.8,80,351.0,264,4.22,3.170,14.50,0,1,5,4,335.2,335.2,335.2,330.98
29,STR130,Apparel Zone,Apparel,Kolkata,19.7,60,145.0,175,3.62,2.770,15.50,0,1,5,4,125.3,125.3,125.3,121.68
30,STR131,Fashion Bazar,Apparel,Kolkata,15.0,80,301.0,335,3.54,3.570,14.60,0,1,5,4,286.0,286.0,286.0,282.46
31,STR132,Digital Bazar,Electronincs,Kolkata,21.4,40,121.0,109,4.11,2.780,18.60,1,1,4,2,99.6,99.6,99.6,95.49

In [122]:
# Get records from stores where Location is Delhi
stores[stores.Location == 'Delhi']

,StoreCode,StoreName,StoreType,Location,OperatingCost,Staff_Cnt,TotalSales,Total_Customers,AcqCostPercust,BasketSize,ProfitPercust,OwnStore,OnlinePresence,Tenure,StoreSegment,np1,np2,NetProfit1,NetProfit2
0,STR101,Electronics Zone,Electronincs,Delhi,21.0,60,160.0,110,3.90,2.620,16.46,0,1,4,4,139.0,139.0,139.0,135.10
1,STR102,Apparel Zone,Apparel,Delhi,21.0,60,160.0,110,3.90,2.875,17.02,0,1,4,4,139.0,139.0,139.0,135.10
2,STR103,Super Bazar,Super Market,Delhi,22.8,40,108.0,93,3.85,2.320,18.61,1,1,4,1,85.2,85.2,85.2,81.35
3,STR104,Super Market,Super Market,Delhi,21.4,60,258.0,110,3.08,3.215,19.44,1,0,3,1,236.6,236.6,236.6,233.52
4,STR105,Central Store,Super Market,Delhi,18.7,80,360.0,175,3.15,3.440,17.02,0,0,3,2,341.3,341.3,341.3,338.15
5,STR106,Apparel Zone,Apparel,Delhi,18.1,60,225.0,105,2.76,3.460,20.22,1,0,3,1,206.9,206.9,206.9,204.14
6,STR107,Fashion Bazar,Apparel,Delhi,14.3,80,360.0,245,3.21,3.570,15.84,0,0,3,4,345.7,345.7,345.7,342.49
7,STR108,Digital Bazar,Electronincs,Delhi,24.4,40,146.7,62,3.69,3.190,20.00,1,0,4,2,122.3,122.3,122.3,118.61

In [124]:
stores.loc[stores.Location == 'Delhi']

,StoreCode,StoreName,StoreType,Location,OperatingCost,Staff_Cnt,TotalSales,Total_Customers,AcqCostPercust,BasketSize,ProfitPercust,OwnStore,OnlinePresence,Tenure,StoreSegment,np1,np2,NetProfit1,NetProfit2
0,STR101,Electronics Zone,Electronincs,Delhi,21.0,60,160.0,110,3.90,2.620,16.46,0,1,4,4,139.0,139.0,139.0,135.10
1,STR102,Apparel Zone,Apparel,Delhi,21.0,60,160.0,110,3.90,2.875,17.02,0,1,4,4,139.0,139.0,139.0,135.10
2,STR103,Super Bazar,Super Market,Delhi,22.8,40,108.0,93,3.85,2.320,18.61,1,1,4,1,85.2,85.2,85.2,81.35
3,STR104,Super Market,Super Market,Delhi,21.4,60,258.0,110,3.08,3.215,19.44,1,0,3,1,236.6,236.6,236.6,233.52
4,STR105,Central Store,Super Market,Delhi,18.7,80,360.0,175,3.15,3.440,17.02,0,0,3,2,341.3,341.3,341.3,338.15
5,STR106,Apparel Zone,Apparel,Delhi,18.1,60,225.0,105,2.76,3.460,20.22,1,0,3,1,206.9,206.9,206.9,204.14
6,STR107,Fashion Bazar,Apparel,Delhi,14.3,80,360.0,245,3.21,3.570,15.84,0,0,3,4,345.7,345.7,345.7,342.49
7,STR108,Digital Bazar,Electronincs,Delhi,24.4,40,146.7,62,3.69,3.190,20.00,1,0,4,2,122.3,122.3,122.3,118.61

In [126]:
# Records from Kolkata where TotalSales > 100
stores.loc[(stores.Location == 'Kolkata') & (stores.TotalSales > 100)]

,StoreCode,StoreName,StoreType,Location,OperatingCost,Staff_Cnt,TotalSales,Total_Customers,AcqCostPercust,BasketSize,ProfitPercust,OwnStore,OnlinePresence,Tenure,StoreSegment,np1,np2,NetProfit1,NetProfit2
24,STR125,Electronics Zone,Electronincs,Kolkata,19.2,80,400.0,175,3.08,3.845,17.05,0,0,3,2,380.8,380.8,380.8,377.72
26,STR127,Super Bazar,Super Market,Kolkata,26.0,40,120.3,91,4.43,2.140,16.70,0,1,5,2,94.3,94.3,94.3,89.87
28,STR129,Central Store,Super Market,Kolkata,15.8,80,351.0,264,4.22,3.170,14.50,0,1,5,4,335.2,335.2,335.2,330.98
29,STR130,Apparel Zone,Apparel,Kolkata,19.7,60,145.0,175,3.62,2.770,15.50,0,1,5,4,125.3,125.3,125.3,121.68
30,STR131,Fashion Bazar,Apparel,Kolkata,15.0,80,301.0,335,3.54,3.570,14.60,0,1,5,4,286.0,286.0,286.0,282.46
31,STR132,Digital Bazar,Electronincs,Kolkata,21.4,40,121.0,109,4.11,2.780,18.60,1,1,4,2,99.6,99.6,99.6,95.49

In [127]:
# Records from Kolkata where TotalSales > 100 and < 300
stores.loc[(stores.Location == 'Kolkata') & (stores.TotalSales > 100) & (stores.TotalSales < 300)]

,StoreCode,StoreName,StoreType,Location,OperatingCost,Staff_Cnt,TotalSales,Total_Customers,AcqCostPercust,BasketSize,ProfitPercust,OwnStore,OnlinePresence,Tenure,StoreSegment,np1,np2,NetProfit1,NetProfit2
26,STR127,Super Bazar,Super Market,Kolkata,26.0,40,120.3,91,4.43,2.14,16.7,0,1,5,2,94.3,94.3,94.3,89.87
29,STR130,Apparel Zone,Apparel,Kolkata,19.7,60,145.0,175,3.62,2.77,15.5,0,1,5,4,125.3,125.3,125.3,121.68
31,STR132,Digital Bazar,Electronincs,Kolkata,21.4,40,121.0,109,4.11,2.78,18.6,1,1,4,2,99.6,99.6,99.6,95.49

In [134]:
# All store codes and store types from Chennai where OperatingCost > 15
stores.loc[(stores.Location == 'Chennai') & (stores.OperatingCost > 15), ['StoreCode', 'StoreName', 'Location', 'OperatingCost']]

   StoreCode         StoreName Location  OperatingCost
8     STR109  Electronics Zone  Chennai           22.8
9     STR110      Apparel Zone  Chennai           19.2
10    STR111       Super Bazar  Chennai           17.8
11    STR112      Super Market  Chennai           16.4
12    STR113     Central Store  Chennai           17.3
13    STR114      Apparel Zone  Chennai           15.2

In [ ]:
df.loc[row,columns]

### Filtering: 
> 1. Get records from stores where Location is Delhi
> 2. Records from Kolkata where TotalSales > 100 and < 300
> 3. All store codes and store types from Chennai where OperatingCost > 15

In [137]:
# sort data acc to one column [Location asc]
stores.sort_values('Location')

,StoreCode,StoreName,StoreType,Location,OperatingCost,Staff_Cnt,TotalSales,Total_Customers,AcqCostPercust,BasketSize,ProfitPercust,OwnStore,OnlinePresence,Tenure,StoreSegment,np1,np2,NetProfit1,NetProfit2
15,STR116,Digital Bazar,Electronincs,Chennai,10.4,80,460.0,215,3.00,5.424,17.82,0,0,3,4,449.6,449.6,449.6,446.60
14,STR115,Fashion Bazar,Apparel,Chennai,10.4,80,472.0,205,2.93,5.250,17.98,0,0,3,4,461.6,461.6,461.6,458.67
13,STR114,Apparel Zone,Apparel,Chennai,15.2,80,275.8,180,NaN,3.780,18.00,0,0,3,3,260.6,260.6,260.6,NaN
12,STR113,Central Store,Super Market,Chennai,17.3,80,275.8,180,NaN,3.730,17.60,0,0,3,3,258.5,258.5,258.5,NaN
11,STR112,Super Market,Super Market,Chennai,16.4,80,275.8,180,NaN,4.070,17.40,0,0,3,3,259.4,259.4,259.4,NaN
10,STR111,Super Bazar,Super Market,Chennai,17.8,60,167.6,123,3.92,3.440,18.90,1,0,4,4,149.8,149.8,149.8,145.88
9,STR110,Apparel Zone,Apparel,Chennai,19.2,60,167.6,123,3.92,3.440,18.30,1,0,4,4,148.4,148.4,148.4,144.48
8,STR109,Electronics Zone,Electronincs,Chennai,22.8,40,140.8,95,3.92,3.150,22.90,1,0,4,2,118.0,118.0,118.0,114.08
0,STR101,Electronics Zone,Electronincs,Delhi,21.0,60,160.0,110,3.90,2.620,16.46,0,1,4,4,139.0,139.0,139.0,135.10
6,STR107,Fashion Bazar,Apparel,Delhi,14.3,80,360.0,245,3.21,3.570,15.84,0,0,3,4,345.7,345.7,345.7,342.49
5,STR106,Apparel Zone,Apparel,Delhi,18.1,60,225.0,105,2.76,3.460,20.22,1,0,3,1,206.9,206.9,206.9,204.14
4,STR105,Central Store,Super Market,Delhi,18.7,80,360.0,175,3.15,3.440,17.02,0,0,3,2,341.3,341.3,341.3,338.15
3,STR104,Super Market,Super Market,Delhi,21.4,60,258.0,110,3.08,3.215,19.44,1,0,3,1,236.6,236.6,236.6,233.52
2,STR103,Super Bazar,Super Market,Delhi,22.8,40,108.0,93,3.85,2.320,18.61,1,1,4,1,85.2,85.2,85.2,81.35
1,STR102,Apparel Zone,Apparel,Delhi,21.0,60,160.0,110,3.90,2.875,17.02,0,1,4,4,139.0,139.0,139.0,135.10
7,STR108,Digital Bazar,Electronincs,Delhi,24.4,40,146.7,62,3.69,3.190,20.00,1,0,4,2,122.3,122.3,122.3,118.61
29,STR130,Apparel Zone,Apparel,Kolkata,19.7,60,145.0,175,3.62,2.770,15.50,0,1,5,4,125.3,125.3,125.3,121.68
28,STR129,Central Store,Super Market,Kolkata,15.8,80,351.0,264,4.22,3.170,14.50,0,1,5,4,335.2,335.2,335.2,330.98
27,STR128,Super Market,Super Market,Kolkata,30.4,40,95.1,113,3.77,1.513,16.90,1,1,5,2,64.7,64.7,64.7,60.93
26,STR127,Super Bazar,Super Market,Kolkata,26.0,40,120.3,91,4.43,2.140,16.70,0,1,5,2,94.3,94.3,94.3,89.87
25,STR126,Apparel Zone,Apparel,Kolkata,27.3,40,79.0,66,4.08,1.935,18.90,1,1,4,1,51.7,51.7,51.7,47.62
24,STR125,Electronics Zone,Electronincs,Kolkata,19.2,80,400.0,175,3.08,3.845,17.05,0,0,3,2,380.8,380.8,380.8,377.72
31,STR132,Digital Bazar,Electronincs,Kolkata,21.4,40,121.0,109,4.11,2.780,18.60,1,1,4,2,99.6,99.6,99.6,95.49
30,STR131,Fashion Bazar,Apparel,Kolkata,15.0,80,301.0,335,3.54,3.570,14.60,0,1,5,4,286.0,286.0,286.0,282.46
23,STR124,Digital Bazar,Electronincs,Mumbai,13.3,80,350.0,245,3.73,3.840,15.41,0,0,3,4,336.7,336.7,336.7,332.97
21,STR122,Apparel Zone,Apparel,Mumbai,15.5,80,318.0,150,2.76,3.520,16.87,0,0,3,2,302.5,302.5,302.5,299.74
19,STR120,Super Market,Super Market,Mumbai,33.9,40,71.1,65,4.22,1.835,19.90,1,1,4,1,37.2,37.2,37.2,32.98
18,STR119,Super Bazar,Super Market,Mumbai,30.4,40,75.7,52,4.93,1.615,18.52,1,1,4,2,45.3,45.3,45.3,40.37
17,STR118,Apparel Zone,Apparel,Mumbai,32.4,40,78.7,66,4.08,2.200,19.47,1,1,4,1,46.3,46.3,46.3,42.22
16,STR117,Electronics Zone,Electronincs,Mumbai,14.7,80,440.0,230,3.23,5.345,17.42,0,0,3,4,425.3,425.3,425.3,422.07
22,STR123,Fashion Bazar,Apparel,Mumbai,15.2,80,304.0,150,3.15,3.435,17.30,0,0,3,2,288.8,288.8,288.8,285.65
20,STR121,Central Store,Super Market,Mumbai,21.5,40,120.1,97,3.70,2.465,20.01,1,0,3,1,98.6,98.6,98.6,94.90

In [141]:
# sort data acc to one column  [TotalSales desc]
stores.sort_values('TotalSales', ascending = False)

,StoreCode,StoreName,StoreType,Location,OperatingCost,Staff_Cnt,TotalSales,Total_Customers,AcqCostPercust,BasketSize,ProfitPercust,OwnStore,OnlinePresence,Tenure,StoreSegment,np1,np2,NetProfit1,NetProfit2
19,STR120,Super Market,Super Market,Mumbai,33.9,40,71.1,65,4.22,1.835,19.90,1,1,4,1,37.2,37.2,37.2,32.98
18,STR119,Super Bazar,Super Market,Mumbai,30.4,40,75.7,52,4.93,1.615,18.52,1,1,4,2,45.3,45.3,45.3,40.37
17,STR118,Apparel Zone,Apparel,Mumbai,32.4,40,78.7,66,4.08,2.200,19.47,1,1,4,1,46.3,46.3,46.3,42.22
25,STR126,Apparel Zone,Apparel,Kolkata,27.3,40,79.0,66,4.08,1.935,18.90,1,1,4,1,51.7,51.7,51.7,47.62
27,STR128,Super Market,Super Market,Kolkata,30.4,40,95.1,113,3.77,1.513,16.90,1,1,5,2,64.7,64.7,64.7,60.93
2,STR103,Super Bazar,Super Market,Delhi,22.8,40,108.0,93,3.85,2.320,18.61,1,1,4,1,85.2,85.2,85.2,81.35
20,STR121,Central Store,Super Market,Mumbai,21.5,40,120.1,97,3.70,2.465,20.01,1,0,3,1,98.6,98.6,98.6,94.90
26,STR127,Super Bazar,Super Market,Kolkata,26.0,40,120.3,91,4.43,2.140,16.70,0,1,5,2,94.3,94.3,94.3,89.87
31,STR132,Digital Bazar,Electronincs,Kolkata,21.4,40,121.0,109,4.11,2.780,18.60,1,1,4,2,99.6,99.6,99.6,95.49
8,STR109,Electronics Zone,Electronincs,Chennai,22.8,40,140.8,95,3.92,3.150,22.90,1,0,4,2,118.0,118.0,118.0,114.08
29,STR130,Apparel Zone,Apparel,Kolkata,19.7,60,145.0,175,3.62,2.770,15.50,0,1,5,4,125.3,125.3,125.3,121.68
7,STR108,Digital Bazar,Electronincs,Delhi,24.4,40,146.7,62,3.69,3.190,20.00,1,0,4,2,122.3,122.3,122.3,118.61
0,STR101,Electronics Zone,Electronincs,Delhi,21.0,60,160.0,110,3.90,2.620,16.46,0,1,4,4,139.0,139.0,139.0,135.10
1,STR102,Apparel Zone,Apparel,Delhi,21.0,60,160.0,110,3.90,2.875,17.02,0,1,4,4,139.0,139.0,139.0,135.10
10,STR111,Super Bazar,Super Market,Chennai,17.8,60,167.6,123,3.92,3.440,18.90,1,0,4,4,149.8,149.8,149.8,145.88
9,STR110,Apparel Zone,Apparel,Chennai,19.2,60,167.6,123,3.92,3.440,18.30,1,0,4,4,148.4,148.4,148.4,144.48
5,STR106,Apparel Zone,Apparel,Delhi,18.1,60,225.0,105,2.76,3.460,20.22,1,0,3,1,206.9,206.9,206.9,204.14
3,STR104,Super Market,Super Market,Delhi,21.4,60,258.0,110,3.08,3.215,19.44,1,0,3,1,236.6,236.6,236.6,233.52
13,STR114,Apparel Zone,Apparel,Chennai,15.2,80,275.8,180,NaN,3.780,18.00,0,0,3,3,260.6,260.6,260.6,NaN
11,STR112,Super Market,Super Market,Chennai,16.4,80,275.8,180,NaN,4.070,17.40,0,0,3,3,259.4,259.4,259.4,NaN
12,STR113,Central Store,Super Market,Chennai,17.3,80,275.8,180,NaN,3.730,17.60,0,0,3,3,258.5,258.5,258.5,NaN
30,STR131,Fashion Bazar,Apparel,Kolkata,15.0,80,301.0,335,3.54,3.570,14.60,0,1,5,4,286.0,286.0,286.0,282.46
22,STR123,Fashion Bazar,Apparel,Mumbai,15.2,80,304.0,150,3.15,3.435,17.30,0,0,3,2,288.8,288.8,288.8,285.65
21,STR122,Apparel Zone,Apparel,Mumbai,15.5,80,318.0,150,2.76,3.520,16.87,0,0,3,2,302.5,302.5,302.5,299.74
23,STR124,Digital Bazar,Electronincs,Mumbai,13.3,80,350.0,245,3.73,3.840,15.41,0,0,3,4,336.7,336.7,336.7,332.97
28,STR129,Central Store,Super Market,Kolkata,15.8,80,351.0,264,4.22,3.170,14.50,0,1,5,4,335.2,335.2,335.2,330.98
6,STR107,Fashion Bazar,Apparel,Delhi,14.3,80,360.0,245,3.21,3.570,15.84,0,0,3,4,345.7,345.7,345.7,342.49
4,STR105,Central Store,Super Market,Delhi,18.7,80,360.0,175,3.15,3.440,17.02,0,0,3,2,341.3,341.3,341.3,338.15
24,STR125,Electronics Zone,Electronincs,Kolkata,19.2,80,400.0,175,3.08,3.845,17.05,0,0,3,2,380.8,380.8,380.8,377.72
16,STR117,Electronics Zone,Electronincs,Mumbai,14.7,80,440.0,230,3.23,5.345,17.42,0,0,3,4,425.3,425.3,425.3,422.07
15,STR116,Digital Bazar,Electronincs,Chennai,10.4,80,460.0,215,3.00,5.424,17.82,0,0,3,4,449.6,449.6,449.6,446.60
14,STR115,Fashion Bazar,Apparel,Chennai,10.4,80,472.0,205,2.93,5.250,17.98,0,0,3,4,461.6,461.6,461.6,458.67

In [142]:
# sort data acc to two columns [Location, OperatingCost asc]
stores.sort_values(['Location', 'OperatingCost'])

,StoreCode,StoreName,StoreType,Location,OperatingCost,Staff_Cnt,TotalSales,Total_Customers,AcqCostPercust,BasketSize,ProfitPercust,OwnStore,OnlinePresence,Tenure,StoreSegment,np1,np2,NetProfit1,NetProfit2
14,STR115,Fashion Bazar,Apparel,Chennai,10.4,80,472.0,205,2.93,5.250,17.98,0,0,3,4,461.6,461.6,461.6,458.67
15,STR116,Digital Bazar,Electronincs,Chennai,10.4,80,460.0,215,3.00,5.424,17.82,0,0,3,4,449.6,449.6,449.6,446.60
13,STR114,Apparel Zone,Apparel,Chennai,15.2,80,275.8,180,NaN,3.780,18.00,0,0,3,3,260.6,260.6,260.6,NaN
11,STR112,Super Market,Super Market,Chennai,16.4,80,275.8,180,NaN,4.070,17.40,0,0,3,3,259.4,259.4,259.4,NaN
12,STR113,Central Store,Super Market,Chennai,17.3,80,275.8,180,NaN,3.730,17.60,0,0,3,3,258.5,258.5,258.5,NaN
10,STR111,Super Bazar,Super Market,Chennai,17.8,60,167.6,123,3.92,3.440,18.90,1,0,4,4,149.8,149.8,149.8,145.88
9,STR110,Apparel Zone,Apparel,Chennai,19.2,60,167.6,123,3.92,3.440,18.30,1,0,4,4,148.4,148.4,148.4,144.48
8,STR109,Electronics Zone,Electronincs,Chennai,22.8,40,140.8,95,3.92,3.150,22.90,1,0,4,2,118.0,118.0,118.0,114.08
6,STR107,Fashion Bazar,Apparel,Delhi,14.3,80,360.0,245,3.21,3.570,15.84,0,0,3,4,345.7,345.7,345.7,342.49
5,STR106,Apparel Zone,Apparel,Delhi,18.1,60,225.0,105,2.76,3.460,20.22,1,0,3,1,206.9,206.9,206.9,204.14
4,STR105,Central Store,Super Market,Delhi,18.7,80,360.0,175,3.15,3.440,17.02,0,0,3,2,341.3,341.3,341.3,338.15
0,STR101,Electronics Zone,Electronincs,Delhi,21.0,60,160.0,110,3.90,2.620,16.46,0,1,4,4,139.0,139.0,139.0,135.10
1,STR102,Apparel Zone,Apparel,Delhi,21.0,60,160.0,110,3.90,2.875,17.02,0,1,4,4,139.0,139.0,139.0,135.10
3,STR104,Super Market,Super Market,Delhi,21.4,60,258.0,110,3.08,3.215,19.44,1,0,3,1,236.6,236.6,236.6,233.52
2,STR103,Super Bazar,Super Market,Delhi,22.8,40,108.0,93,3.85,2.320,18.61,1,1,4,1,85.2,85.2,85.2,81.35
7,STR108,Digital Bazar,Electronincs,Delhi,24.4,40,146.7,62,3.69,3.190,20.00,1,0,4,2,122.3,122.3,122.3,118.61
30,STR131,Fashion Bazar,Apparel,Kolkata,15.0,80,301.0,335,3.54,3.570,14.60,0,1,5,4,286.0,286.0,286.0,282.46
28,STR129,Central Store,Super Market,Kolkata,15.8,80,351.0,264,4.22,3.170,14.50,0,1,5,4,335.2,335.2,335.2,330.98
24,STR125,Electronics Zone,Electronincs,Kolkata,19.2,80,400.0,175,3.08,3.845,17.05,0,0,3,2,380.8,380.8,380.8,377.72
29,STR130,Apparel Zone,Apparel,Kolkata,19.7,60,145.0,175,3.62,2.770,15.50,0,1,5,4,125.3,125.3,125.3,121.68
31,STR132,Digital Bazar,Electronincs,Kolkata,21.4,40,121.0,109,4.11,2.780,18.60,1,1,4,2,99.6,99.6,99.6,95.49
26,STR127,Super Bazar,Super Market,Kolkata,26.0,40,120.3,91,4.43,2.140,16.70,0,1,5,2,94.3,94.3,94.3,89.87
25,STR126,Apparel Zone,Apparel,Kolkata,27.3,40,79.0,66,4.08,1.935,18.90,1,1,4,1,51.7,51.7,51.7,47.62
27,STR128,Super Market,Super Market,Kolkata,30.4,40,95.1,113,3.77,1.513,16.90,1,1,5,2,64.7,64.7,64.7,60.93
23,STR124,Digital Bazar,Electronincs,Mumbai,13.3,80,350.0,245,3.73,3.840,15.41,0,0,3,4,336.7,336.7,336.7,332.97
16,STR117,Electronics Zone,Electronincs,Mumbai,14.7,80,440.0,230,3.23,5.345,17.42,0,0,3,4,425.3,425.3,425.3,422.07
22,STR123,Fashion Bazar,Apparel,Mumbai,15.2,80,304.0,150,3.15,3.435,17.30,0,0,3,2,288.8,288.8,288.8,285.65
21,STR122,Apparel Zone,Apparel,Mumbai,15.5,80,318.0,150,2.76,3.520,16.87,0,0,3,2,302.5,302.5,302.5,299.74
20,STR121,Central Store,Super Market,Mumbai,21.5,40,120.1,97,3.70,2.465,20.01,1,0,3,1,98.6,98.6,98.6,94.90
18,STR119,Super Bazar,Super Market,Mumbai,30.4,40,75.7,52,4.93,1.615,18.52,1,1,4,2,45.3,45.3,45.3,40.37
17,STR118,Apparel Zone,Apparel,Mumbai,32.4,40,78.7,66,4.08,2.200,19.47,1,1,4,1,46.3,46.3,46.3,42.22
19,STR120,Super Market,Super Market,Mumbai,33.9,40,71.1,65,4.22,1.835,19.90,1,1,4,1,37.2,37.2,37.2,32.98

In [143]:
# sort data acc to two columns [Location, TotalSales desc]
stores.sort_values(['Location', 'TotalSales'], ascending = False)

,StoreCode,StoreName,StoreType,Location,OperatingCost,Staff_Cnt,TotalSales,Total_Customers,AcqCostPercust,BasketSize,ProfitPercust,OwnStore,OnlinePresence,Tenure,StoreSegment,np1,np2,NetProfit1,NetProfit2
16,STR117,Electronics Zone,Electronincs,Mumbai,14.7,80,440.0,230,3.23,5.345,17.42,0,0,3,4,425.3,425.3,425.3,422.07
23,STR124,Digital Bazar,Electronincs,Mumbai,13.3,80,350.0,245,3.73,3.840,15.41,0,0,3,4,336.7,336.7,336.7,332.97
21,STR122,Apparel Zone,Apparel,Mumbai,15.5,80,318.0,150,2.76,3.520,16.87,0,0,3,2,302.5,302.5,302.5,299.74
22,STR123,Fashion Bazar,Apparel,Mumbai,15.2,80,304.0,150,3.15,3.435,17.30,0,0,3,2,288.8,288.8,288.8,285.65
20,STR121,Central Store,Super Market,Mumbai,21.5,40,120.1,97,3.70,2.465,20.01,1,0,3,1,98.6,98.6,98.6,94.90
17,STR118,Apparel Zone,Apparel,Mumbai,32.4,40,78.7,66,4.08,2.200,19.47,1,1,4,1,46.3,46.3,46.3,42.22
18,STR119,Super Bazar,Super Market,Mumbai,30.4,40,75.7,52,4.93,1.615,18.52,1,1,4,2,45.3,45.3,45.3,40.37
19,STR120,Super Market,Super Market,Mumbai,33.9,40,71.1,65,4.22,1.835,19.90,1,1,4,1,37.2,37.2,37.2,32.98
24,STR125,Electronics Zone,Electronincs,Kolkata,19.2,80,400.0,175,3.08,3.845,17.05,0,0,3,2,380.8,380.8,380.8,377.72
28,STR129,Central Store,Super Market,Kolkata,15.8,80,351.0,264,4.22,3.170,14.50,0,1,5,4,335.2,335.2,335.2,330.98
30,STR131,Fashion Bazar,Apparel,Kolkata,15.0,80,301.0,335,3.54,3.570,14.60,0,1,5,4,286.0,286.0,286.0,282.46
29,STR130,Apparel Zone,Apparel,Kolkata,19.7,60,145.0,175,3.62,2.770,15.50,0,1,5,4,125.3,125.3,125.3,121.68
31,STR132,Digital Bazar,Electronincs,Kolkata,21.4,40,121.0,109,4.11,2.780,18.60,1,1,4,2,99.6,99.6,99.6,95.49
26,STR127,Super Bazar,Super Market,Kolkata,26.0,40,120.3,91,4.43,2.140,16.70,0,1,5,2,94.3,94.3,94.3,89.87
27,STR128,Super Market,Super Market,Kolkata,30.4,40,95.1,113,3.77,1.513,16.90,1,1,5,2,64.7,64.7,64.7,60.93
25,STR126,Apparel Zone,Apparel,Kolkata,27.3,40,79.0,66,4.08,1.935,18.90,1,1,4,1,51.7,51.7,51.7,47.62
4,STR105,Central Store,Super Market,Delhi,18.7,80,360.0,175,3.15,3.440,17.02,0,0,3,2,341.3,341.3,341.3,338.15
6,STR107,Fashion Bazar,Apparel,Delhi,14.3,80,360.0,245,3.21,3.570,15.84,0,0,3,4,345.7,345.7,345.7,342.49
3,STR104,Super Market,Super Market,Delhi,21.4,60,258.0,110,3.08,3.215,19.44,1,0,3,1,236.6,236.6,236.6,233.52
5,STR106,Apparel Zone,Apparel,Delhi,18.1,60,225.0,105,2.76,3.460,20.22,1,0,3,1,206.9,206.9,206.9,204.14
0,STR101,Electronics Zone,Electronincs,Delhi,21.0,60,160.0,110,3.90,2.620,16.46,0,1,4,4,139.0,139.0,139.0,135.10
1,STR102,Apparel Zone,Apparel,Delhi,21.0,60,160.0,110,3.90,2.875,17.02,0,1,4,4,139.0,139.0,139.0,135.10
7,STR108,Digital Bazar,Electronincs,Delhi,24.4,40,146.7,62,3.69,3.190,20.00,1,0,4,2,122.3,122.3,122.3,118.61
2,STR103,Super Bazar,Super Market,Delhi,22.8,40,108.0,93,3.85,2.320,18.61,1,1,4,1,85.2,85.2,85.2,81.35
14,STR115,Fashion Bazar,Apparel,Chennai,10.4,80,472.0,205,2.93,5.250,17.98,0,0,3,4,461.6,461.6,461.6,458.67
15,STR116,Digital Bazar,Electronincs,Chennai,10.4,80,460.0,215,3.00,5.424,17.82,0,0,3,4,449.6,449.6,449.6,446.60
11,STR112,Super Market,Super Market,Chennai,16.4,80,275.8,180,NaN,4.070,17.40,0,0,3,3,259.4,259.4,259.4,NaN
12,STR113,Central Store,Super Market,Chennai,17.3,80,275.8,180,NaN,3.730,17.60,0,0,3,3,258.5,258.5,258.5,NaN
13,STR114,Apparel Zone,Apparel,Chennai,15.2,80,275.8,180,NaN,3.780,18.00,0,0,3,3,260.6,260.6,260.6,NaN
9,STR110,Apparel Zone,Apparel,Chennai,19.2,60,167.6,123,3.92,3.440,18.30,1,0,4,4,148.4,148.4,148.4,144.48
10,STR111,Super Bazar,Super Market,Chennai,17.8,60,167.6,123,3.92,3.440,18.90,1,0,4,4,149.8,149.8,149.8,145.88
8,STR109,Electronics Zone,Electronincs,Chennai,22.8,40,140.8,95,3.92,3.150,22.90,1,0,4,2,118.0,118.0,118.0,114.08

In [144]:
# sort data acc to two columns [Location in asc, TotalSales in desc]
stores.sort_values(['Location', 'TotalSales'], ascending = [True, False])

,StoreCode,StoreName,StoreType,Location,OperatingCost,Staff_Cnt,TotalSales,Total_Customers,AcqCostPercust,BasketSize,ProfitPercust,OwnStore,OnlinePresence,Tenure,StoreSegment,np1,np2,NetProfit1,NetProfit2
14,STR115,Fashion Bazar,Apparel,Chennai,10.4,80,472.0,205,2.93,5.250,17.98,0,0,3,4,461.6,461.6,461.6,458.67
15,STR116,Digital Bazar,Electronincs,Chennai,10.4,80,460.0,215,3.00,5.424,17.82,0,0,3,4,449.6,449.6,449.6,446.60
11,STR112,Super Market,Super Market,Chennai,16.4,80,275.8,180,NaN,4.070,17.40,0,0,3,3,259.4,259.4,259.4,NaN
12,STR113,Central Store,Super Market,Chennai,17.3,80,275.8,180,NaN,3.730,17.60,0,0,3,3,258.5,258.5,258.5,NaN
13,STR114,Apparel Zone,Apparel,Chennai,15.2,80,275.8,180,NaN,3.780,18.00,0,0,3,3,260.6,260.6,260.6,NaN
9,STR110,Apparel Zone,Apparel,Chennai,19.2,60,167.6,123,3.92,3.440,18.30,1,0,4,4,148.4,148.4,148.4,144.48
10,STR111,Super Bazar,Super Market,Chennai,17.8,60,167.6,123,3.92,3.440,18.90,1,0,4,4,149.8,149.8,149.8,145.88
8,STR109,Electronics Zone,Electronincs,Chennai,22.8,40,140.8,95,3.92,3.150,22.90,1,0,4,2,118.0,118.0,118.0,114.08
4,STR105,Central Store,Super Market,Delhi,18.7,80,360.0,175,3.15,3.440,17.02,0,0,3,2,341.3,341.3,341.3,338.15
6,STR107,Fashion Bazar,Apparel,Delhi,14.3,80,360.0,245,3.21,3.570,15.84,0,0,3,4,345.7,345.7,345.7,342.49
3,STR104,Super Market,Super Market,Delhi,21.4,60,258.0,110,3.08,3.215,19.44,1,0,3,1,236.6,236.6,236.6,233.52
5,STR106,Apparel Zone,Apparel,Delhi,18.1,60,225.0,105,2.76,3.460,20.22,1,0,3,1,206.9,206.9,206.9,204.14
0,STR101,Electronics Zone,Electronincs,Delhi,21.0,60,160.0,110,3.90,2.620,16.46,0,1,4,4,139.0,139.0,139.0,135.10
1,STR102,Apparel Zone,Apparel,Delhi,21.0,60,160.0,110,3.90,2.875,17.02,0,1,4,4,139.0,139.0,139.0,135.10
7,STR108,Digital Bazar,Electronincs,Delhi,24.4,40,146.7,62,3.69,3.190,20.00,1,0,4,2,122.3,122.3,122.3,118.61
2,STR103,Super Bazar,Super Market,Delhi,22.8,40,108.0,93,3.85,2.320,18.61,1,1,4,1,85.2,85.2,85.2,81.35
24,STR125,Electronics Zone,Electronincs,Kolkata,19.2,80,400.0,175,3.08,3.845,17.05,0,0,3,2,380.8,380.8,380.8,377.72
28,STR129,Central Store,Super Market,Kolkata,15.8,80,351.0,264,4.22,3.170,14.50,0,1,5,4,335.2,335.2,335.2,330.98
30,STR131,Fashion Bazar,Apparel,Kolkata,15.0,80,301.0,335,3.54,3.570,14.60,0,1,5,4,286.0,286.0,286.0,282.46
29,STR130,Apparel Zone,Apparel,Kolkata,19.7,60,145.0,175,3.62,2.770,15.50,0,1,5,4,125.3,125.3,125.3,121.68
31,STR132,Digital Bazar,Electronincs,Kolkata,21.4,40,121.0,109,4.11,2.780,18.60,1,1,4,2,99.6,99.6,99.6,95.49
26,STR127,Super Bazar,Super Market,Kolkata,26.0,40,120.3,91,4.43,2.140,16.70,0,1,5,2,94.3,94.3,94.3,89.87
27,STR128,Super Market,Super Market,Kolkata,30.4,40,95.1,113,3.77,1.513,16.90,1,1,5,2,64.7,64.7,64.7,60.93
25,STR126,Apparel Zone,Apparel,Kolkata,27.3,40,79.0,66,4.08,1.935,18.90,1,1,4,1,51.7,51.7,51.7,47.62
16,STR117,Electronics Zone,Electronincs,Mumbai,14.7,80,440.0,230,3.23,5.345,17.42,0,0,3,4,425.3,425.3,425.3,422.07
23,STR124,Digital Bazar,Electronincs,Mumbai,13.3,80,350.0,245,3.73,3.840,15.41,0,0,3,4,336.7,336.7,336.7,332.97
21,STR122,Apparel Zone,Apparel,Mumbai,15.5,80,318.0,150,2.76,3.520,16.87,0,0,3,2,302.5,302.5,302.5,299.74
22,STR123,Fashion Bazar,Apparel,Mumbai,15.2,80,304.0,150,3.15,3.435,17.30,0,0,3,2,288.8,288.8,288.8,285.65
20,STR121,Central Store,Super Market,Mumbai,21.5,40,120.1,97,3.70,2.465,20.01,1,0,3,1,98.6,98.6,98.6,94.90
17,STR118,Apparel Zone,Apparel,Mumbai,32.4,40,78.7,66,4.08,2.200,19.47,1,1,4,1,46.3,46.3,46.3,42.22
18,STR119,Super Bazar,Super Market,Mumbai,30.4,40,75.7,52,4.93,1.615,18.52,1,1,4,2,45.3,45.3,45.3,40.37
19,STR120,Super Market,Super Market,Mumbai,33.9,40,71.1,65,4.22,1.835,19.90,1,1,4,1,37.2,37.2,37.2,32.98

### Sorting
> - sort data acc to one column  [Location asc]
> - sort data acc to one column  [TotalSales desc]
> - sort data acc to two columns [Location, OperatingCost asc]
> - sort data acc to two columns [Location, TotalSales desc]
> - sort data acc to two columns [Location in asc, TotalSales in desc]

### Basic data analysis:

In [ ]:
stores.info()

In [ ]:
stores.describe()

### Adding new column/s in dataframe:

In [60]:
stores["TotalProfit"] = stores.TotalSales - stores.OperatingCost

In [71]:
stores["TotalProfit"] = stores["TotalSales"] - stores["OperatingCost"]

In [82]:
stores.assign(TotalProfit = stores.TotalSales - stores.OperatingCost)

In [117]:
stores = stores.assign(TotalProfit = stores.TotalSales - stores.OperatingCost, Discount = stores.TotalSales * 0.1)

### Delete column/s from a dataframe:

In [102]:
stores = stores.drop(["Discount", "Total Profit"], axis = 1)

In [ ]:
stores.drop(['TotalProfit'], axis = 'columns')

### Rename column/s:

In [119]:
stores.rename(columns={"TotalProfit" : "NetProfit", "Discount": "TotalDiscount"})

### Filters (applying conditions on the data):

In [128]:
# Get records from stores where Location is Delhi
stores[stores.Location == "Delhi"]

In [ ]:
stores.loc[stores.Location == "Delhi",:]

In [122]:
# All store codes and store types from Chennai where OperatingCost > 15

In [131]:
stores.loc[(stores.Location == "Chennai") & (stores.OperatingCost > 15),["StoreCode", "StoreType"]]

### Sorting
 - sort data acc to one column  [Location asc]
 - sort data acc to one column  [TotalSales desc]
 - sort data acc to two columns [Location, OperatingCost asc]
 - sort data acc to two columns [Location, TotalSales desc]
 - sort data acc to two columns [Location in asc, TotalSales in desc]

In [136]:
stores.sort_values("Location")

In [138]:
stores.sort_values("Location", ascending = True)

In [140]:
stores.sort_values("TotalSales", ascending = False)

In [ ]:
stores.sort_values(["Location", "OperatingCost"], ascending = True)

In [142]:
stores.sort_values(["Location", "TotalSales"], ascending = False)

In [ ]:
stores.sort_values(["Location", "TotalSales"], ascending = [True, False])

### Remove duplicates:

In [150]:
score = pd.read_csv("E:/SampleData/Score.csv")

In [154]:
score.duplicated()

In [155]:
score[score.duplicated()]

In [ ]:
score.loc[score.duplicated(),:]

In [162]:
score.loc[-score.Student.duplicated(),:]

### Missing Data in Numeric Variables

    Fill missing values with the 
    - Drop rows where data is missing (if you have LOTS of data >1 mn rows)
    - Mean (if the distribution is symmetric)
    - Median (if the distribution is skewed)
    - Zeros (for data that indicates absence of a metric.)
    - Use predictive modelling techniques to get the app value of the missing
    
### Missing Data in Object Variables
Fill missing values with - the Mode

In [145]:
import pyodbc
sql_conn = pyodbc.connect('DRIVER={ODBC Driver 13 for SQL Server};SERVER=MANUJKS;DATABASE=db_mar_19;Trusted_Connection=yes') 
query = 'SELECT * FROM TBL_CUSTOMER;'
df = pd.read_sql(query, sql_conn)
df.head()

,CUST_ID_CUS,FNAME_CUS,LNAME_CUS,DOB_CUS,PHONE_CUS,EMAIL_CUS
0,100001,Kallie,Blackwood,1975-09-07,415-9170-276,kallie.blackwood@abc.com
1,100002,Johnetta,Abdallah,1995-08-08,919-6014-934,johnetta_abdallah@abc.com
2,100003,Bobbye,Rhym,1972-09-18,650-5905-578,brhym@abc.com
3,100004,Micaela,Rhymes,1967-08-05,925-1192-329,micaela_rhymes@abc.com
4,100005,Tamar,Hoogland,1994-12-14,740-1061-857,tamar@abc.com

In [146]:
type(df)

pandas.core.frame.DataFrame